.donut { 
    grid-area: donut; 
}
.instrumentWrapper { 
    grid-area: instrumentWrapper; 
}
.historical { 
    grid-area: historical; 
}


.grid-container {
    display: grid;
    grid-template-areas:
    'donut donut donut instrumentWrapper instrumentWrapper instrumentWrapper'
    'donut donut donut instrumentWrapper instrumentWrapper instrumentWrapper'
    'donut donut donut instrumentWrapper instrumentWrapper instrumentWrapper'
    'donut donut donut instrumentWrapper instrumentWrapper instrumentWrapper'
    'historical historical historical historical historical historical';

   
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    background-color: #666;
    padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
  }