.average { 
    grid-area: average; 
}
.position { 
    grid-area: position; 
}
.effective { 
    grid-area: effective; 
}
.realized { 
    grid-area: realized; 
}


.grid-container-instruments {
    display: grid;
    grid-template-areas:
    'average average average'
    'average average average'
    'average average average'
    'position effective realized';

   
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #666;

}
.grid-container-instruments > div {
  background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }