.NavBar{
    position: fixed;
    padding:0px;
    float: left;
    height: 0vh;
    border-radius: 8px;
    background-color: #666;
    text-align: left;
    color: white;
    transition: all 0.5s;
    z-index: 1;
  }
  
  
  
  .pagesList {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #666;
  }

  
  
 
  .menuButton:after{
    content: '\2261';
  }
  
  .menuButton:hover{
    background-color: grey;
    color: #white;
  }